body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: inherit;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

@import "~antd/dist/antd.less";

// [CUSTOM SCROLLBAR]
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px gray;
}

::-webkit-scrollbar-thumb {
  background: #282c34;
  border-radius: 10px;
}

// [FIX CAROUSEL HEIGHT WITH ONE ITEM BUG ]
.ant-carousel .slick-slider .slick-track,
.ant-carousel .slick-slider .slick-list {
  height: 500px;
}

// [ REWRITING POPOVER CONTENT PLACEMENT ]
.ant-popover-inner-content {
  padding: 0px;
}

// [ REWRITING POPOVER DELETE CONTENT PLACEMENT ]
.ant-popconfirm .ant-popover-content .ant-popover-inner {
  padding: 12px;

}
