.description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.3em;
}
.roundBox {
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.1);
}
.typeButton {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.1);
}
.typeIcon {
  font-size: 20px;
}
.dropdownIcon {
  font-size: 26px;
}
