.buttonBox {
  text-align: center;
  padding: 2px 5px;
  width: 28px !important;
  border-width: 1px;
  border-style: solid;
  border-color: #307bde;
  background-color: #fff;
}
.hovered {
  text-align: center;
  padding: 2px 5px;
  width: 60px;
  border-style: solid;
  border-color: #307bde;
  border-width: 1px;
  background-color: #fff;

  margin-left: -20px;
}
.selected {
  text-align: center;
  padding: 2px 5px;
  width: 28px !important;
  border-style: solid;
  border-color: #307bde;
  border-width: 1px;
  color: #fff;
  background-color: #3682e6;
}
.selectedHovered {
  text-align: center;
  padding: 2px 5px;
  width: 60px;
  border-style: solid;
  border-color: #307bde;
  border-width: 1px;
  color: #fff;
  background-color: #3682e6;
  margin-left: -20px;
}

.icon {
  font-size: 18px;
}

.imageContainer {
  height: 120px;
  width: 150px;
}
.imageButton {
  height: 170px !important;
  border-radius: 8px !important;
  background-color: #d6e1f2 !important;
  color: #307bde !important;
  font-weight: 700;
}
.imageButton:hover {
  background-color: #b3c7e7 !important;
}
