/* [KEYBOX] */
.buttonBox {
  padding: 2px 5px;
  width: 28px !important;
  border-width: 1px;
  border-style: solid;
  border-color: #307bde;
  background-color: #fff;
}
.hovered {
  text-align: center;
  padding: 2px 5px;
  width: 60px;
  border-style: solid;
  border-color: #307bde;
  border-width: 1px;
  background-color: #fff;
  margin-left: -20px;
}
.selected {
  text-align: center;
  padding: 2px 5px;
  width: 28px !important;
  border-style: solid;
  border-color: #307bde;
  border-width: 1px;
  color: #fff;
  background-color: #3682e6;
}
.selectedHovered {
  text-align: center;
  padding: 2px 5px;
  width: 60px;
  border-style: solid;
  border-color: #307bde;
  border-width: 1px;
  color: #fff;
  background-color: #3682e6;
  margin-left: -20px;
}

/* [IMAGE CHOICE] */
.imageContainer {
  height: 120px;
  width: 150px;
}
.imageButton {
  width: 160px;
  height: 170px !important;
  color: #307bde !important;
  background-color: #d6e1f2 !important;
}
.imageButton:hover {
  background-color: #b3c7e7 !important;
}

/* [SELECTED BUTTON ICON] */
.icon {
  font-size: 18px;
}

/* [RANGE BUTTON] */
.range {
  margin-left: 5px;
  width: 65px !important;
  height: 65px !important;
  color: #307bde !important;
  border-color: #307bde !important;
  background-color: #d6e1f2 !important;
}
.range:hover {
  background-color: #b3c7e7 !important;
}

.active {
  margin-left: 5px;
  width: 65px !important;
  height: 65px !important;
  color: #fff !important;
  border-color: #307bde !important;
  background-color: #3682e6 !important;
}
.active:hover {
  border-color: #5a9aee !important;
  background-color: #5a9aee !important;
}

/* [SUBMIT BUTTON] */
.submit {
  width: 93px;
  height: 56px !important;
  font-size: 20px !important;
}
