.range {
  margin-left: 5px;
  height: 65px !important;
  width: 65px !important;
  background-color: #d6e1f2 !important;
  border-color: #307bde !important;
  color: #307bde !important;
}
.range:hover {
  background-color: #b3c7e7 !important;
}
